.perfil-page {
  --background: #f4f6f9;
}

.toolbar-custom {
  --background: transparent;
  --border-width: 0;
  box-shadow: none;
}

ion-back-button::part(icon) {
  transform: translateY(12px); 
  transition: transform 0.2s ease;
  color: #073166;
}


ion-toolbar {
  display: flex;
  align-items: center;
  --background: transparent; 
  --min-height: 56px;
}

.perfil-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.avatar {
  width: 90px;
  height: 90px;
  border: 3px solid #3880ff;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.perfil-card {
  background: #fff;
  border-radius: 12px;
  border: 2px solid #cbd5e1;
  width: 90%;
  max-width: 380px;
  margin-top: 10px;
}

ion-card-title {
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  color: #1a1a1a;
}

ion-item {
  --background: transparent;
  --highlight-color-focused: transparent;
  border-radius: 6px;
  margin-bottom: 10px;
  --padding-start: 0;
}

ion-input {
  background: #dbe3ea;
  border-radius: 6px;
  padding: 8px 10px;
  margin-top: 4px;
}

.btn-guardar {
  --background: #186987;
  width: 90%;
  max-width: 380px;
  margin-top: 20px;
  --border-radius: 30px;
  font-weight: 600;
}

.btn-cerrar {
  --background: #39ccb1;
  width: 90%;
  max-width: 380px;
  margin-top: 10px;
  --border-radius: 30px;
  font-weight: 600;
}

.overlay {
  position: fixed;
  inset: 0; /* igual que top: 0; right: 0; bottom: 0; left: 0 */
  background: rgba(0, 0, 0, 0.7); /* fondo más oscuro */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* encima de todo */
}

.overlay-content {
  text-align: center;
  color: white;
  animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


/* --- Estilos para el Mensaje de Éxito --- */

.success-message {
  position: fixed; 
  top: 20px;       
  left: 50%;
  transform: translateX(-50%); 
  z-index: 9999; 

  background: #39ccb1; 
  color: white;
  padding: 12px 24px;
  border-radius: 30px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  gap: 10px; 

  animation: fadeIn 0.4s ease; 
}

.success-message ion-icon {
  font-size: 24px; 
}

.success-message p {
  margin: 0; 
  font-weight: 500;
}