:host {
  display: block;
  height: 100%;
}

.ion-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative; 
}

ion-header {
  flex-shrink: 0; 
  z-index: 10;    
}

ion-content {
  flex: 1;            
  position: relative; 
  --padding-top: 0;   
  --padding-bottom: 0;
}

ion-tabs {
  height: 100%;
  display: flex;
  flex-direction: column;
}

ion-tab-bar {
  border-bottom: 1px solid #e0e0e0;
  height: 56px; 
}