<ion-content class="error-page ion-padding">
  <div class="error-container">
    <ng-lottie
      [options]="{
        path: 'assets/animations/error404.json',
        loop: true,
        autoplay: true
      }"
      width="250"
      height="250">
    </ng-lottie>

    <h2>¡UPS!<br><strong>Página no encontrada</strong></h2>
    <p>Parece que la dirección que buscas no existe</p>

    <button class="btn-volver" (click)="volverInicio()">
      <ion-icon name="arrow-back-outline"></ion-icon>
      VOLVER AL INICIO
    </button>
  </div>
</ion-content>
