<ion-content class="ion-padding">
  <div class="login-header">
    <img src="assets/icon/logo.png" alt="Zipi Algarrobo Logo" class="app-logo"> 
    <p class="description">Conecta conductores y pasajeros en tu comuna</p>
  </div>

  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div style="margin-top: 20px;">
      <label>Usuario</label><br>
      <input
        type="text"
        name="usuario"
        [(ngModel)]="usuario"
        required
        pattern="^[a-zA-Z]+$"
        placeholder="Solo letras (a-z)"
        #usuarioInput="ngModel"
        class="letras-imput" style="background-color:#94b7c9; width:100%; padding:8px; border-radius:6px; border:1px solid #94b7c9;"
      >
      <ion-note color="danger" *ngIf="usuarioInput.invalid && usuarioInput.touched">
        El usuario debe contener solo letras.
      </ion-note>
    </div>


    <div style="margin-top: 15px;">
      <label>Contraseña</label><br>
      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        required
        pattern="^[0-9]{4}$"
        placeholder="4 dígitos numéricos"
        #passwordInput="ngModel"
        class="letras-imput" style="background-color:#94b7c9; width:100%; padding:8px; border-radius:6px; border:1px solid #94b7c9;"
      >
      <ion-note color="danger" *ngIf="passwordInput.invalid && passwordInput.touched">
        La contraseña debe tener 4 números.
      </ion-note>
    </div>


    <div style="text-align:center; margin-top: 25px;">
      <button
        type="submit"
        [disabled]="loginForm.invalid"
        style="background-color:#186987; color:white; padding:10px 60px; border:none; border-radius:20px; cursor:pointer;">
        Ingresar
      </button>
    </div>

    <div style="text-align:center; margin-top: 10px;">
      <ion-button fill="clear" routerLink="/registro" routerDirection="forward" style="--color: #186987; text-transform: none; font-size: 14px;">
        ¿No tienes cuenta? Regístrate aquí
      </ion-button>
    </div>
  </form>

  <p *ngIf="error" style="color:red; text-align:center; margin-top:15px;">
    {{ error }}
  </p>
</ion-content>