.description {
  text-align: center; 
  font-size: 1.1em;
  color: #838a8d;
  margin: 0;
}
.error {
  color: red;
  text-align: center;
  margin-top: 15px;
}

ion-note {
  display: block;
  margin-top: 4px;
  font-size: 0.9rem;
  color: rgb(255, 0, 0);
}

.letras-imput::placeholder {
  color: #000000;
  opacity: 0.7; 
}