.login-container {
  text-align: center;
  margin-top: 15%;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  color: #666;
}

.error {
  color: red;
  text-align: center;
  margin-top: 15px;
}

ion-note {
  display: block;
  margin-top: 4px;
  font-size: 0.9rem;
}
