.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  animation: fadeIn 0.3s ease-in-out;
}

.overlay-content {
  text-align: center;
  color: white;
}

.overlay-content h3 {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
