<ion-content class="ion-padding" >

<ion-toolbar color="transparent" style="--background: transparent; box-shadow: none;">
  <ion-buttons slot="end">
    <ion-menu-button
      style="
        color: #073166;
        font-size: 24px;
        margin-right: 8px;
      ">
    </ion-menu-button>
  </ion-buttons>
</ion-toolbar>

  <div class="login-header" style="text-align: center; margin-bottom: 20px; margin-top: 10px;">
    <img src="assets/icon/logo.png" alt="Zipi Algarrobo Logo" style="width: 150px; height: auto;" class="app-logo"> 
  </div>

  <div class="welcome-container" style="text-align: center; margin-bottom: 30px;">
    <h2 style="font-size: 24px; margin-bottom: 5px;">¡Hola, {{ usuario }}!</h2>
    <p style="color: #666; font-size: 16px; margin: 0;">¿A dónde quieres ir hoy?</p>
  </div>

  <div class="map-container" style="margin-bottom: 30px;">
    <div class="fake-map" style="background-color: #f0f0f0; border: 1px solid #ccc; border-radius: 30px; padding: 50px 20px; text-align: center;">
      <p style="margin: 0; font-size: 16px; color: #555;">🗺️ Mapa de Algarrobo (simulación)</p>
    </div>
  </div>

  <div class="button-group">
    <div style="text-align:center; margin-top: 15px;">
      <button (click)="pedirViaje()" style="background-color:#39ccb1; color:rgb(41, 32, 158); padding:12px 20px; border:none; border-radius:20px; cursor:pointer; width: 100%; box-sizing: border-box; font-size: 16px;">
        PEDIR VIAJE
      </button>
    </div>
  </div>

  <app-loader-overlay [visible]="cargando" [message]="mensajeCarga"></app-loader-overlay>

  <div class="success" *ngIf="mostrarAnimacion" style="text-align: center; margin-top: 25px;">
    <ng-lottie
      [options]="{
        path: 'assets/animations/success.json',
        loop: false,
        autoplay: true
      }"
      width="200"
      height="200">
    </ng-lottie>
    <h3 style="color: #4499c0;">Conductor encontrado 🚗</h3>
  </div>
  
</ion-content>